
{% extends 'base.html' %}

{% block content %}

<div class="fluid-wrap">
	<div class="fluid-row">
		<div class="col-12">

			<h1>Data for {{username}}</h1>

			<p>Change in followers: {{follower_change}} (Max/Min {{max_followers}}/{{min_followers}})</p>

		</div>

	<div class="col-12">
		<table>
		<thead>
		<tr>
		<th>Followers</th>
		<th>When</th>
		</tr>
		</thead>
		<tbody>
			{% for data in follower_data %}
			<tr>
				<td>{{data.followers}}</td>
				<td>{{data.when}}</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>

</div>
</div>
</div>

{% endblock %}